name: Build Workflow
env:
  DOCKER_IMAGE: ijo42/glauncher

on:
  schedule:
    - cron:  '0 0 * * SUN'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DOCKER
        uses: docker/login-action@v1
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push amd64
        uses: docker/build-push-action@v2
        with:
          file: ./Dockerfile
          tags: ${{ env.DOCKER_IMAGE }}
          push: true
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push arm64
        uses: docker/build-push-action@v2
        with:
          file: ./Dockerfile.aarch64
          tags: ${{ env.DOCKER_IMAGE }}:latest-arm64
          push: true
          platforms: linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
